<div class="example-container">
  <form (ngSubmit)="addProduit()" class="example-container" [formGroup]="produitForm">

    <mat-form-field>
      <input matInput type="text" placeholder="Nom" formControlName="Nom">
      <mat-error *ngIf="nomInput.touched && nomInput.hasError('required')" class="error">
        Le champs "Nom"" est requis.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Fournisseur" formControlName="Fournisseur">
      <mat-error *ngIf="fournisseurInput.touched && fournisseurInput.hasError('required')" class="error">
        Le champs "Fournisseur" est requis.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Age" formControlName="Age">
      <mat-error *ngIf="ageInput.touched && ageInput.hasError('required')" class="error">
        Le champs "Âge" est requis.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Description" formControlName="Description">
      <mat-error *ngIf="descriptionInput.touched && descriptionInput.hasError('required')" class="error">
        Le champs "Description" est requis.
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="produitForm.invalid"> Créer </button>
    <button mat-button type="button" (click)="reset()"> Annuler </button>
  </form>
</div>
