<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Colonne Nom -->
  <ng-container matColumnDef="Nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let produit" [style.color]=""> {{ produit.Nom | uppercase }} </td>
  </ng-container>

  <!-- Colonne Description -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let produit"> {{ (produit.Description.length>20)? (produit.Description | slice:0:20 | lowercase)+'...':(produit.Description | lowercase) }} </td>
  </ng-container>

  <!-- Colonne Ingrédients -->
  <ng-container matColumnDef="Ingrédients">
    <th mat-header-cell *matHeaderCellDef> Ingrédients </th>
    <td mat-cell *matCellDef="let produit">
      <p *ngFor="let ingredient of produit.ListeIngredients; let last = last">
        {{ ingredient.Nom }}<span *ngIf="!last">, </span>
      </p>
  </ng-container>

  <!-- Colonne Prix -->
  <ng-container matColumnDef="Prix">
    <th mat-header-cell *matHeaderCellDef> Prix </th>
    <td mat-cell *matCellDef="let produit"> {{ produit.Prix | number }} €</td>
  </ng-container>

  <!-- Colonne Supprimer -->
  <ng-container matColumnDef="Supprimer">
    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
    <td mat-cell *matCellDef="let produit">
      <button mat-icon-button>
        <mat-icon aria-label="Supprimer le produit" (click)="deleteProduit(produit)">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'rowPair': even}"></tr>
</table>

<button mat-button *ngIf="!showForm" (click)="showForm = true;" class="btnShowForm"> Afficher le formulaire pour ajouter un produit </button>

<app-form-produit *ngIf="showForm" (addEmit)="produitIsAdd($event)" (hideForm)="hideForm()"></app-form-produit>
