table {
  width: 100%;
}

.rowPair > td {
  color: grey;
}

button {
  background: none;
  border: none;
}

td p {
  display: inline-block;
  margin: 0;
}

.btnShowForm {
  width: 100%;
  display: inline-block;
  margin: 30px auto;
}
